@model IEnumerable<GameStore.Data.Data.Account.OrderElement>
@{
    ViewData["Title"] = "Dane zamówienia";
}

<body style="background-image: url('/lib/materialize/register.jpg'); background-size: cover">
    <div class="container" style="margin-top:95px;">
        <div class="row">
            <div class="col s12 m6 offset-m3" style="margin-top:60px; margin-bottom:60px;">
                <div class="card-panel z-depth-5">
                    <div class="row">
                        <table>
                            <tr>
                                <th class="center">

                                </th>
                                <th class="center">
                                    Nazwa towaru
                                </th>
                                <th class="center">
                                    Cena
                                </th>
                                <th class="center">
                                    Ilość
                                </th>
                                <th class="center">
                                    <a href="javascript:history.back()" class="waves-effect waves-light btn">Wróć</a>
                                </th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="center">
                                        <a asp-action="Details" asp-controller="Shop" asp-route-id="@item.IdProduct"><img src="~/images/@item.Product.Image.Image" style="border-radius:7px;" class="materialboxed" width="55" /></a>
                                    </td>
                                    <td class="center">
                                        <a asp-action="Details" asp-controller="Shop" asp-route-id="@item.IdProduct">@item.Product.Name</a>
                                    </td>
                                    <td class="center">
                                        @String.Format("{0:F}", item.Price)zł
                                    </td>
                                    <td class="center">
                                        @String.Format("{0}", item.Amount)
                                    </td>
                                    <td class="center">
                                        <a class="waves-effect waves-light btn" asp-action="RateProduct" asp-route-id="@item.Product.IdProduct">Oceń</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div><!--col-->
        </div><!--row-->
    </div><!--conatiner-->
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

