@model IEnumerable<GameStore.Data.Data.Shop.Products>

@{
    ViewData["Title"] = "Index";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="align-items-center justify-content-between mb-4">
        <h1>Produkty</h1>
        <hr/>

<p>
    <a class="btn btn-dark" asp-action="Create"><i class="bi bi-plus-circle"></i></a>
</p>
<table class="table">
    <thead class="bg-dark text-white shadow">
        <tr>
            <th class = "rounded-left text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class = "text-center">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class = "text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class = "text-center">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class = "text-center">
                @Html.DisplayNameFor(model => model.IdCategory)
            </th>
            @*<th class = "text-center">
                @Html.DisplayNameFor(model => model.IdImage)
            </th>*@
            <th class = "rounded-right text-center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class = "text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class = "text-center">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class = "text-center" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class = "text-center">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td class = "text-center">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            @*<td class = "text-center">
                @Html.DisplayFor(modelItem => item.IdImage)
            </td>*@
            <td class = "text-center">
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.IdProduct"><i class="bi bi-pencil"></i></a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdProduct"><i class="bi bi-eye-fill"></i></a> |
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.IdProduct"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
