
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
<body>
    <nav class="z-depth-3" role="navigation" style="position: absolute; top: 0; left: 0; z-index: 1000;background: rgba(128, 0, 128, .25)  ">
        <div class="nav-wrapper">
            @await Html.PartialAsync("PageLinks", (IEnumerable<GameStore.Data.Data.CMS.Page>) ViewBag.Pages)
        </div>
    </nav>
    <div class="bodycontainer" style="min-height: 64vh;">
        @RenderBody()
    </div>
    <footer class="gradient page-footer footer-bottom z-depth-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    @await Html.PartialAsync("FooterDetails", (GameStore.Data.Data.CMS.FooterDetails) ViewBag.FootDetails)
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">@ViewBag.FooterLinksTitle</h5>
                    @await Html.PartialAsync("FooterPages", (IEnumerable<GameStore.Data.Data.CMS.Page>) ViewBag.Pages)
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">@ViewBag.FooterMediaTitle</h5>
                    @await Html.PartialAsync("FooterLinks", (IEnumerable<GameStore.Data.Data.CMS.FooterLinks>) ViewBag.FootLinks)
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                @ViewBag.FooterSiteTitle
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/lib/materialize/js/init.js"></script>
    @if (TempData.ContainsKey("MessageError"))
    {
        <script>
            alert('@TempData["MessageError"]');
        </script>
    }
</body>
</html>
