@model IEnumerable<GameStore.Data.Data.CMS.PageContent>


@switch (@Model.First().Page.Title)
{
    //Strona główna
    @case "Index":
        @foreach (var item in Model)
        {
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">@item.Title</h5>

                    <p class="light">@item.Content</p>
                </div>
            </div>
        }

        break;

    //Kontakt
    @case "Contact":
        if (@Model.First().Section == "Input")
        {
            @foreach (var item in Model)
            {
                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">@item.Icon</i>
                    <input id="icon_@item.Title" type="text" class="validate">
                    <label for="icon_@item.Title">@item.Content</label>
                </div>
            }
        }
        if (@Model.First().Section == "Button")
        {
            @foreach (var item in Model)
            {
                <button class="btn waves-effect waves-light center" type="submit" name="action">
                        @item.Content
                        <i class="mdi-content-send"></i>
                    </button>
            }
        }
        break;

    //Login
    @case "Login":
        if (@Model.First().Section == "Input")
        {
            @foreach (var item in Model)
            {
                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">@item.Icon</i>
                    <input id="icon_@item.Title" type="text" class="validate">
                    <label for="icon_@item.Title">@item.Content</label>
                </div>
            }
        }
        if (@Model.First().Section == "Button")
        {
            foreach (var item in Model)
            {
                <button class="btn waves-effect waves-light center" type="submit" name="action">
                    @Html.ActionLink(@item.Content, @item.Link , "Home",  null, new { @class = "white-text" })
                    <i class="fa fa-sign-in right"></i>
                </button>
            }
        }
        break;

    //Rejestracja
    @case "Register":
        if (@Model.First().Section == "Input")
        {
            @foreach (var item in Model)
            {
                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">@item.Icon</i>
                    <input id="icon_@item.Title" type="text" class="validate">
                    <label for="icon_@item.Title">@item.Content</label>
                </div>
            }
        }
        if (@Model.First().Section == "Button")
        {
            foreach (var item in Model)
            {
                <button class="btn waves-effect waves-light center" type="submit" name="action">
                    @item.Content
                    <i class="fa fa-sign-in right"></i>
                </button>
            }
        }
        break;

    //Default
    default:
        TempData["MessageError"] = "Wystąpił błąd.";
        break;
}

